@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}

body {
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #0f141a;
}

/* HEADER */
.title-container {
  width: 100%;
  height: 90px;
  /* padding: 10px; */
  text-align: center;
  background-color: #0f141a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 100%;
  height: 30px;
  margin: 0;
  background-color: #0f141a;
}
.logo img {
  height: 40px;
  margin: 5px 0 5px 0;
}
.count-container:hover {
  background-color: #0f141a;
  transition: 1s;
}
.title-container h1 {
  margin-top: 10px;
  text-transform: uppercase;
}
.count-container {
  width: 100%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: #23263285;
  padding: 10px;
}
.count-container img {
  height: 90px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 100%;
}
/* BACKGROUND */

/* BOARD */

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#board {
  background: rgb(26,106,13);
  background: linear-gradient(90deg, rgba(26,106,13,0.9) 0%, rgba(0,0,0,0) 50%, rgba(76,94,8,0.9) 100%);
}

#board div {
  display: flex;
  flex-direction: row;
}

#board div div div img {
  width: 90%;
}

#board div div:last-child {
  border-right: 3px solid #0f141a;
}

#board div div {
  width: 45px;
  height: 50px;
  border-left: 3px solid #0f141a;
  justify-content: center;
  align-items: center;
}

#board div div div {
  border: none;
}

#board div div div:last-child {
  border: none;
}
/* se quiser linhas descomentar */

#line2,
#line3,
#line4,
#line5,
#line6,
#line7 {
  border-bottom: 3px solid #0f141a;
}

/* PLAYERS */

.player1,
.player2 {
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 100%;
}

/* VICTORY SCREEN */

.blur {
  background-color: rgba(0, 0, 0, 0.6);
  filter: blur(8px);
}

.hidden {
  visibility: hidden;
  display: none;
  filter: blur(0px);
}

#victoryScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#victoryButton {
  padding: 1.5rem 4rem;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background: #4a558980;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
#victoryButton:hover {
  background: #4a5589;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#victoryMessage {
  font-size: 50px;
  margin-bottom: 3rem;
  color: white;
}

.button {
  display: flex;
  /* background-image: url(img/raio.png); */
  border-top: 3px solid #0f141a;
  border-bottom: 3px solid #0f141a;
  cursor: pointer;
}
.button > img {
  width: 40%;
}
.button img:hover {
  animation: yourAnimation 1s ease 0s normal none;
}
.opposite-turn {
  filter: grayscale(100%);
}
/* COUNTER */

#count {
  max-width: 200px;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
#victoryImg{
  height: 200px;
}
#harry{
  display: none;
  position: absolute;
  top: 45%;
  left: 20%;
}
#harry img{
  height: 300px;
}
#hermione{
  display: none;
  position: absolute;
  right: 20%;
  top: 45%;
}
#hermione img{
  height: 300px;
}
/* animation */
@keyframes yourAnimation {
  0.0% {
  }
  10.3% {
    transform: rotate(-10deg);
  }
  100% {
  }
  15.2% {
  }
  20.2% {
    transform: rotate(15deg);
  }
  25.3% {
    transform: rotate(-15deg);
  }
  29.7% {
  }
  35.4% {
    transform: rotate(20deg);
  }
  40.3% {
    transform: rotate(-20deg);
  }
  45.4% {
  }
  49.6% {
    transform: rotate(5deg);
  }
  5.0% {
    transform: rotate(10deg);
  }
  55.0% {
    transform: rotate(-5deg);
  }
  59.5% {
    transform: rotate(20deg);
  }
  64.6% {
    transform: rotate(-20deg);
  }
  70.3% {
  }
  74.5% {
    transform: rotate(-1deg);
  }
  79.7% {
    transform: rotate(1deg);
  }
  84.6% {
    transform: rotate(15deg);
  }
  90.1% {
    transform: rotate(-15deg);
  }
  95.2% {
  }
}
/* tela selção de casa */
/* RESET */
#menuScreen {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
}
/* TITLE */
#menuScreen h1 {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
}
/* FLAGS TO CHOOSE */
#flags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
#flags-container img {
  height: 40vh;
  cursor: pointer;
}
#flags-container h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
}
#flags-container div {
  margin-bottom: 1.8rem;
}
.start-container {
  display: flex;
  justify-content: center;
}

.menu-Game {
  position: absolute;
}

.menu-Game,
.start-Game {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  border: 2px solid white;
  border-radius: 100%;
  bottom: 2%;
  right: 3%;
  outline-style: none;
  cursor: pointer;
}

.menu-Game {
  border: unset;
}

.selectImg {
  filter: grayscale(80%);
}

/* TELA DE CELL */
@media screen and (min-width: 328px) {
  #flags-container {
    max-width: 310px;
    margin: auto;
  }
}
/* TELA DE PC */
@media screen and (min-width: 650px) {
  #flags-container {
    max-width: unset;
    height: 60vh;
    margin-top: 1%;
  }

  h2 {
    margin-bottom: 2rem;
  }

  #flags-container img {
    height: 40vh;
  }
  .menu-Game,
  .start-Game {
    border-radius: unset;
    position: unset;
    margin: auto;
    width: 200px;
    height: 80px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  #menuScreen {
    height: 100vh;
  }
  #menuScreen > h1 {
    padding: 1.5rem;
  }

  .menu-Game {
    position: absolute;
    top: 17px;
    left: 20px;
    margin: 0;
    border: none;
    background: unset;
    width: 10px;
    height: 10px;
  }

  .start-Game {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 5rem;
  }
  .start-Game i:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
  }
}
/* BANDEIRAS RESPONSIVAS */
@media screen and (min-width: 480px) {
  #board div div {
    width: 65px;
    height: 60px;
  }
  #count {
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 25px;
  }
}
@media screen and (max-width: 320px) {
  #board div div {
    width: 35px;
    height: 40px;
  }
}

@media screen and (max-height: 775px) {
  .menu-Game {
    position: unset;
    border: none;
    background: unset;
  }

  .count-container img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 910px){
  #flags-container img {
    height: 60vh;
  }
}
@media screen and (min-width: 1300px){
  #harry{
    display: unset;
    position: absolute;
    top: 45%;
    left: 15%;
  }
  #harry img{
    height: 300px;
  }
  #hermione{
    display: unset;
    position: absolute;
    right: 15%;
    top: 45%;
  }
  #hermione img{
    height: 300px;
  }
}